\pilamp_hikey970\face\shape_predictor_68_face_landmarks.dat
\pilamp_hikey970\face\mmod_human_face_detector.dat
pilamp_hikey970/pirobot/__pycache__/

\perception\data\*.jpg

pilamp_hikey970/pirobot/__pycache__/robot.cpython-36.pyc
pilamp_hikey970/pirobot/__pycache__/config_a.cpython-36.pyc
pilamp_hikey970/pirobot/__pycache__/com.cpython-36.pyc
perception/objectdetect-yolo/yolov3.weights
perception/objectdetect-yolo/yolov3-tiny.weights
